extends ../site/layout
block variables
  - title = gallery.displayName + " Photo Gallery"
block body
  h1 New Photos are on Flickr
  p.
    Note that starting in the fall of 2011,
    my photos are available on
    <a href="http://www.flickr.com/photos/88096431@N00/">my Flickr photo stream</a>.
    I enjoyed writing and maintaining my own photo software for a decade or so,
    but it's time to move on.
  .galleryApp(ng-app="photos", ng-controller="GalleryController", ng-cloak)
    h1#photo Photo Gallery: {{gallery.displayName}}
    #nextPrev
      a(href="{{previousPhoto.pageURI}}", ng-if="previousPhoto") &lt;&lt;previous&nbsp;
      a(href="{{nextPhoto.pageURI}}", ng-if="nextPhoto") next&gt;&gt;
    figure
      img(src="{{photo.fullSizeURI}}",
        alt="{{photo.caption}}", title="{{photo.caption}}")
      figcaption {{photo.caption}}
    a.thumbnail(ng-repeat="photo in gallery.photos", href="{{photo.pageURI}}")
      img.thumbnail(src="{{photo.thumbnailURI}}",
        alt="{{photo.caption}}", title="{{photo.caption}}")
    nav.photos
      div(ng-repeat="year in years")
        h2.year {{year.name}}
        a.gallerylink(ng-repeat="gallery in year.galleries",
          href="?gallery={{gallery.dirName}}") {{gallery.displayName}}

block append scripts
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular-route.min.js")
  != sharify.script()
  script(src="/photos/viewGallery.js")
