extends ../core/layout
block variables
  - title = 'Peter Lyons'
block body
  :marked
    This is the personal site of Peter Lyons.
    It has my infrequently-updated personal blog,
    links to my personal photos,
    and information about my bands and musical performances.

    Information about my technology consultancy can be found on my business web site: [peterlyons.com](https://peterlyons.com).
