{
  "extends": [
    "./node_modules/eslint-config-standard/eslintrc.json"
  ],
  "rules": {
    "block-scoped-var": 2,
    "consistent-this": [2, "self"],
    "func-style": [2, "declaration"],
    "max-len": [1, 80, 2],
    "max-nested-callbacks": [2, 4],
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-nested-ternary": 2,
    "no-process-exit": 1,
    "no-sync": 1,
    "no-ternary": 2,
    "no-undefined": 2,
    "no-warning-comments": [2, {"terms": ["@bug"]}],
    "valid-jsdoc": 2
  }
}
