extends ../../site/layout
block variables
  - title = gallery.displayName + " Photo Gallery"
block body
  .view-gallery
block prepend scripts
  != sharify.script()
block append scripts
  script require('app/personal/photos/photos-main')()
