extends deck
block head
  title 12-Factor Apps in node.js
block slides
  section
    h2 Twelve-Factor Apps In node.js
    h3 Peter Lyons
  section
    h2 About Me
    ul
      li Freelance Consultant
      li Full-stack web applications
      li node.js specialist
      li http://peterlyons.com
  section
    h2 What is Twelve-Factor?
  section
    h2 3. Config
    ul
      li config3
  section
    h2 6. Processes
    ul
      li use systemd
  section
    h2 11. Logs
    ul
      li npm module: bole
      li bunyan, winston also OK
