.create-post
  > .saved
    display none
    color white
    background-color green
    a
      color white
      &:hover
        background-color green
  > .error
    color red
  > hr
    margin 2em 0
  > label
    display block
    font-weight bold
    padding-bottom 1em
    line-height 1.5em
    > input
      display block
      width 25em
  > textarea
    margin 0
    font-size 110%
  > button
    display block
