.create-post
  > .saved
    color white
    background-color green
    a
      color white
      &:hover
        background-color green
  > .error
    color red
  > hr
    margin 2em 0
  > label
    display block
    margin-bottom 0.5em
    > input
      width 25em
      margin-left 2em
  > textarea
    margin 0
  > button
    display block
