extends ../site/layout
block variables
  - title = "Write a new blog post"
block body
  .createPost(ng-app="createPostApp", ng-controller="CreatePost", ng-cloak)
    .error(ng-if="error")
      strong BORKED! {{error}}
    .saved(ng-if="savedPost") New post saved at&nbsp;
      a(ng-href="{{savedPost.uri}}") {{savedPost.title}}
    section.preview(ng-bind-html="contentHtml")
    hr
    label
      | title
      input(name="title", ng-model="title")
    textarea.content(cols="80", rows="15", ng-model="contentMarkdown")
    label
      | password to save (github token)
      input(type="password", ng-model="password")
    button(ng-click="save()", ng-disabled="!password" ng-bind="saveButtonLabel")
block append scripts
  script require("app/browser/post")();
