@import "../site/color"
@import "../site/typography"

#subscribe
  display block
  text-align right
  img
    margin-left 0.5em
    margin-top 0.5em

.post
  text-align center
  width 100%
  border-bottom 1px dashed $colorPrimary
  white-space nowrap
  text-overflow ellipsis
  padding-bottom 2em
  &:last-child
    border-bottom none

.postTitle
  text-decoration none
  font-weight bold
  fontSize(-1, 2)
  +above("m")
    fontSize(0, 2)
  &:hover
    text-decoration underline

.postDate
  width 100%
  text-align center
  fontSize(-1, 1)
