article
  img
    display block
  .date
    width 100%
    text-align right

nav.blog
  li
    list-style-type none
  #toggleComments
    border none
    cursor pointer
    margin-top 2em
    padding 0.2em
