@require "../position"
.plusParty
  .buttonWrapper
    position relative
  button
    display inline-block
    padding 0.5em
    border-radius 0.5em
    border 1px solid black
    margin-bottom 2em
    topRight()
  textarea
    width 100%
    height 8em
  li
    list-style-type none
    text-align right
  .total
    text-align right
