extends ../../site/layout
block variables
  - title = gallery.displayName + " Photo Gallery"
block body
  .view-gallery
block prepend scripts
  script(type="text/javascript")!=sharify
block append scripts
  script require('app/play/photos/photos-main')()
