mediumScreen = "screen and (max-width: 1000px)"
smallScreen = "screen and (max-width: 720px)"
tinyScreen = "screen and (max-width: 360px)"

//https://github.com/mrmrs/fluidity
img, canvas, iframe, video, svg
  max-width 100%

.overflow-container
  overflow-y scroll
  -webkit-overflow-scrolling touch

.adaptive
  color gray
  position fixed
  &:after
    content "1156 (Daddy Bear)"

@media mediumScreen
  .adaptive:after
    content "1000 (Momma Bear)"

@media smallScreen
  .adaptive:after
    content "720 (Baby Bear)"

@media tinyScreen
  .adaptive:after
    content "360 (Teddy Bear)"
