//http://www.colourlovers.com/palette/1954999/Almost_Greyscale
$colorSiteHeader = #282E2C
$colorCodeBackground = #7D8286
$colorCode = #000205
$colorEvenRow = #AB926A
$colorPrimaryBackground = #E7DBCD
$colorPrimary = #000205
