//http://www.colourlovers.com/palette/754405/Someone_Like_Me
//Then alterations by Liz LaManche http://emphasiscreative.com
$colorPrimaryBackground = #f5f7f9
$colorPrimary = #7b8c9a
$colorLink = #7b8c9a
$colorLinkHover = #424044
$colorLinkHoverBackground = $colorPrimaryBackground
$colorCodeBackground = #b4b2b9
$colorCode = #333

$colorSiteHeader = #30353a
$colorSiteHeaderBorder = $colorLinkHover
$colorHeader = #30353a
$colorFooter = #b6c1cb
$colorEvenRow = #eee

$colorNavCurrent = #c8d7e4
