//http://www.colourlovers.com/palette/754405/Someone_Like_Me
$colorPrimaryBackground = white
$colorPrimary = black

$colorLink = grey
$colorLinkHoverBackground = $colorPrimaryBackground
$colorCodeBackground = #eee
$colorCode = #333

$colorSiteHeader = #333
$colorEvenRow = #eee
$colorBlack = black
