//http://www.colourlovers.com/palette/754405/Someone_Like_Me
$colorPrimaryBackground = #f1f2f8
$colorPrimary = #120f14

$colorLink = #424044
$colorLinkHoverBackground = $colorPrimaryBackground
$colorCodeBackground = #b4b2b9
$colorCode = #333

$colorSiteHeader = #333
$colorEvenRow = #eee
