//http://www.colourlovers.com/palette/754405/Someone_Like_Me
$colorPrimaryBackground = #F3F4E5
$colorPrimary = #59554E

$colorLink = #59554E
$colorLinkHoverBackground = #A1C1BE
$colorCodeBackground = #E2E3D9
$colorCode = #59554E

$colorSiteHeader = #A1C1BE
$colorEvenRow = #E2E3D9
