$colorPrimaryBackground = #fff
$colorPrimary = #000000

$colorLink = $colorPrimary
$colorLinkHover = #555
$colorLinkHoverBackground = $colorPrimaryBackground

$colorCodeBackground = #c8d7e4
$colorCode = $colorHeader

$colorHeader = #000000
$colorSiteHeader = $colorHeader
$colorSiteHeaderBorder = $colorLinkHover

$colorEvenRow = #eee

$colorNavCurrent = $colorCodeBackground

$colorFooter = #cccccc
