@require "color"
@require "typography"

.slides
  h2
    fontSize(1)
    font-family $headerFont
    margin-bottom 1em
    +above("s")
      fontSize(3)

  h3
    fontSize(2)

  h4
    fontSize(1)

  li
    fontSize(-1)
    +above("s")
      fontSize(0)
    line-height 2em
    list-style-type none

  img
    max-height 50%
    max-width 90%
    +above("s")
      max-width 500px
      max-height 500px

  figcaption
    fontSize(-2)
    a
      text-decoration none
      color $colorLink

  code.block
    display block
    text-align left
    white-space pre-wrap

.reveal .controls
  div.navigate-right
    border-left-color grey
  div.navigate-left
    border-right-color grey
  div.navigate-up
    border-bottom-color grey
  div.navigate-down
    border-top-color grey
