@require "adaptive"
@require "color"
@require "typography"

.slides
  h2
    fontSize(3)
    font-family $headerFont
    margin-bottom 1em
    @media mediumScreen
      fontSize(1)

  li
    fontSize(1)
    @media mediumScreen
      fontSize(-1)
    line-height 2em
    list-style-type none

  img
    max-width 500px
    max-height 500px
    @media mediumScreen
      max-width 90%
      max-height 50%

  figcaption
    fontSize(-2)
    a
      text-decoration none
      color $colorLink

  code.block
    display block
    text-align left
    white-space pre-wrap
