@require "position"

footer
  margin-top 4em
  p
    margin-bottom 0

body > nav
  position fixed
  display none
  +above("l")
    display block
  &.open
    display block
    topRight()
    z-index 10
    background-color $colorPrimaryBackground
    margin 0
    border-left 1px solid $colorCodeBackground

.navMenuButton
  display inline
  +above("l")
    display none

footer > nav
  display block
  +above("l")
    display none

.content
  width 100%
  +above("s")
    margin 1em auto
    width 30em
