footer
  margin-top 4em

body > nav
  position fixed

footer > nav
  display none

.respond
  color gray
  position fixed
  &:after
    content "1156 (Daddy Bear)"

.content
  margin 1em auto
  width 30em

@media screen and (max-width: 1000px)
  .respond:after
    content "1000 (Momma Bear)"
  body > nav
    display none
  footer > nav
    display block

@media screen and (max-width: 720px)
  .respond:after
    content "720 (Baby Bear)"
  body
    margin 1rem
  .content
    width 100%

@media screen and (max-width: 360px)
  .respond:after
    content "360 (Teddy Bear)"
