@import "nib/reset"
global-reset()
@import "layout"
@import "color"
@import "blocks/header"
@import "blocks/navigation"
@import "blocks/license"
@import "size"

.clear
  clear both

////////// lists //////////
li
  list-style-type disc
  margin-left 2em

////////// code //////////
codefont = Inconsolata, "courier new", monospace, serif
//For inline code snippets (wrapping OK)
code, pre
  background-color $colorCodeBackground
  color $colorCode
  font-family codefont

code
  padding 0 0.2em

//For multiline code blocks (formatted, no wrapping)
pre
  border 1px dashed $colorBlack
  margin 1em 0
  overflow auto
  padding 1em

@import "../pages/bands"
@import "../pages/oberlin"
@import "../blogs/view_post"
