@require "nib/reset"
global-reset()
@require "color"
@require "typography"
@require "layout"

body
  background-color $colorPrimaryBackground
  color $colorPrimary

button
  background-color $colorCodeBackground
  color $colorSiteHeader
  border-radius 0.4em
  &:focus
    outline none
  &:disabled
    color $colorPrimaryBackground
    border none

blockquote
  background-color $colorCodeBackground
  padding 0.5em 1em
a
  color $colorLink
  &:hover
    color $colorLinkHover
    text-decoration: none

h1, h2, h3
  color $colorHeader

strong
  font-weight bold

////////// lists //////////
li
  margin-left 2em
ul li
  list-style-type disc
ol li
  list-style-type decimal


////////// code //////////
//For inline code snippets (wrapping OK)
code, pre
  background-color $colorCodeBackground
  color $colorCode

code
  padding 0 0.2em

//For multiline code blocks (formatted, no wrapping)
pre
  margin 1em 0
  overflow auto
  padding 1em

.clear
  clear both

.none
  display none

.content.navOpen
  opacity 0.5

@require "blocks/*"
@require "../pages/*"
@require "../personal/photos/*"
@require "../blog/*"
@require "../plus-party/*"
@require "../js-debug/*"
@require "../personal/*"
