@import "nib/reset"
global-reset()
@import "layout"
@import "color"
@import "blocks/header"
@import "blocks/navigation"
@import "blocks/license"
@import "typography"

.clear
  clear both

////////// lists //////////
li
  list-style-type disc
  margin-left 2em

////////// code //////////
//For inline code snippets (wrapping OK)
code, pre
  background-color $colorCodeBackground
  color $colorCode

code
  padding 0 0.2em

//For multiline code blocks (formatted, no wrapping)
pre
  margin 1em 0
  overflow auto
  padding 1em

@import "../pages/bands"
@import "../pages/contact"
@import "../pages/oberlin"
@import "../blogs/view_post"
@import "../blogs/post_list"
