$lineHeight = 1.5em

body
  font-size 1.4em
  line-height $lineHeight

.content
  margin 1em auto
  width 35rem

p
  margin ($lineHeight * 2) 0

h1, h2, h3
  margin ($lineHeight * 3) 0 ($lineHeight * 1.8) 0
