@import "../color"
header
  margin-bottom 2rem
  a
    display block
    text-decoration none
    &:visited
      color $colorSiteHeader

  h1
    border-bottom 3px solid $colorSiteHeaderBorder
    letter-spacing 0.3em
    line-height 1.1em
    padding-bottom 0.5em
    margin 0
