@require "../site/color"
.reverse
  > button
    border none
    margin-right 2em
    &.activeSort:before
      content "✓ "
    &.activeSort
      border 1px solid $colorHeader
    &:disabled
      color $colorHeader

.testimonial
  p
    margin-top 1em
    margin-bottom 2em
  .testimonial-body
    max-height 10em
    overflow-y hidden
    &.expanded
      max-height initial

  .expand-control
    display block
    text-align right
    &.hidden
      display none
