extends ../site/layout
block variables
  - title = "Email and profiles around the web"
block body
  .contact
    h1 Get in touch
    a.email(href="mailto:pete@peterlyons.com") pete@peterlyons.com
    //- Note the image file names and alt attributes are named
    //- as they are to avoid content blocking browser plugins (uBlock et al)
    a(href='http://stackoverflow.com/users/266795/peter-lyons')
      img.icon(src='/images/logo_s_o.png', alt='stackoverflow', title='stackoverflow')
    a(href='http://stackoverflow.com/users/266795/peter-lyons')
      img(src='http://stackoverflow.com/users/flair/266795.png?theme=clean',
        width='208', height='58',
        alt='profile for Peter Lyons at Stack Overflow, Q&A for professional and enthusiast programmers',
        title='profile for Peter Lyons at Stack Overflow, Q&A for professional and enthusiast programmers')
    a(href='https://github.com/focusaurus')
      img.icon(src='/images/logo_g_h.png', alt='github', title='github')
    a(href='https://twitter.com/focusaurus')
      img.icon(src='/images/logo_t_w.png', alt='tweets', title='tweets')
    a(href='https://www.linkedin.com/in/peterlyons1')
      img.icon(src='/images/logo_l_i.png', alt='in links', title='in links')
    a(href="https://www.facebook.com/focusaurus")
      img.icon(src='/images/logo_f_b.png', alt='social network', title='social network')
      
