extends ../site/layout
block variables
  - title = "Email and profiles around the web"
block body
  .contact
    h1 Get in touch
    a.email(href="mailto:pete@peterlyons.com") pete@peterlyons.com
    a(href='http://stackoverflow.com/users/266795/peter-lyons')
      img.icon(src='/images/stackoverflow_logo.png', alt='stackoverflow', title='stackoverflow')
    a(href='http://stackoverflow.com/users/266795/peter-lyons')
      img(src='http://stackoverflow.com/users/flair/266795.png',
        width='208', height='58',
        alt='profile for Peter Lyons at Stack Overflow, Q&A for professional and enthusiast programmers',
        title='profile for Peter Lyons at Stack Overflow, Q&A for professional and enthusiast programmers')
    a(href='https://github.com/focusaurus')
      img.icon(src='/images/github_logo.png', alt='github', title='github')
    a(href='https://plus.google.com/+PeterLyons1/posts')
      img.icon(src='/images/google_plus_logo.png', alt='google+', title='google+')
    a(href='https://twitter.com/focusaurus')
      img.icon(src='/images/twitter_logo.png', alt='twitter', title='twitter')
    a(href='http://www.linkedin.com/in/peterlyons1')
      img.icon(src='/images/linkedin_logo.png', alt='LinkedIn', title='LinkedIn')
    a(href="https://www.facebook.com/focusaurus")
      img.icon(src='/images/facebook_logo.png', alt='facebook', title='facebook')
