extends ../site/layout
block variables
  - title = "Flickr Date Fixer"
block body
  :markdown
    [Flickr Date Fixer](http://flickrdatefixer.jit.su) is a web application I built to fix incorrect dates on photos taken with my smartphone and uploaded to [flickr](http://flickr.com).

    The app is built with

    * node.js
    * express.js
    * passport.js for OAuth integration with Flickr
    * coffee-script
    * flickr's API (and the node-flickr wrapper module)
    * backbone.js
    * jQuery

    More details on my [blog post about it](/problog/2013/04/flickr-date-fixer).
