extends ../site/layout
block variables
  - title = "Peter Lyons: node.js expert consultant"
block body
  section.intro
    img.hero(src="/images/pl_lizm_drawing.jpg", alt="Pete")
    p.highlight Crafting node.js web applications.
    :markdown
      Full-stack web development consulting to supercharge your application. I specialize in ambitious web application development.

      ### Expertise
      * node.js, express.js server side javascript
      * HTML5, CSS3, ambitious browser interfaces, single page applications
      * Data-Intensive Real-Time (DIRTy) Applications
      * User Experience
      * APIs
      * MongoDB, PostgreSQL
      * Linux/Unix server administration
      * Cloud and infrastructure
      * Devops, deployment automation, security
      * <a href="/stacks">Read more</a>

      ### Practices
      * Pragmatic craftsmanship
      * Lightweight Lean Methodology
      * Testing and automation
      * <a href="/practices">Read more</a>

      ### Experience
      * Lead engineer for [trending.com](https://trending.com) social network
      * Tech Lead for OS Provisioning and Solaris Patching on Hewlett Packard's Server Automation product
      * Web development in Ruby on Rails, Python, and Java
      * Over 1000 answers posted and 35K reputation earned on StackOverflow
      * <a href="/career">Read more</a> about my career

block append scripts
  script require("app/browser/home")();
