extends ../site/layout
block variables
  - title = "Technology Stacks"
block body
  :markdown
    #Technology Stacks

    I have used many libraries beyond these. These are just some of my current favorites.

    ## Operating System and Database

    * Development OS: [Mac OS X](http://www.apple.com/macosx/)
    * Deployment OS: [Ubuntu](http://www.ubuntu.com/)
    * Database: [MongoDB](http://www.mongodb.org/) and/or [PostgreSQL](http://www.postgresql.org/)

    ## Node/Express Stack

    * Language: JavaScript
    * App Server: [Express](http://expressjs.com/)
    * Views: [Jade](http://jade-lang.com/)
    * CSS: [Stylus](http://learnboost.github.com/stylus/)
    * Tests: [mocha](http://visionmedia.github.com/mocha/)
    * Control Flow: [async](https://github.com/caolan/async)

    ## Browser

    * [jQuery](http://jquery.org/)
    * [backbone.js](http://documentcloud.github.com/backbone/), [lodash.js](https://github.com/lodash/lodash)

    ## Utility

    * Web Server: [nginx](http://nginx.org/)
    * Monitoring: [monit](http://mmonit.com/monit/)
    * Email: [exim](http://www.exim.org/)
    * Startup: [Upstart](http://upstart.ubuntu.com/) scripts
    * Deployment: [Ansible](http://ansibleworks.com)
    * Local VM: [Vagrant](http://www.vagrantup.com)
