extends ../site/layout
block variables
  - title = "Technology Stacks"
block body
  :markdown
    #Technology Stacks

    I have used many libraries and programming languages beyond these.
    These are just some of my current favorites.

    ## Operating System and Database

    * Development OS: [Mac OS X](http://www.apple.com/macosx/)
    * Deployment OS: [Ubuntu](http://www.ubuntu.com/)
    * Local VM: [Vagrant](http://www.vagrantup.com)
    * Database: [MongoDB](http://www.mongodb.org/) and/or [PostgreSQL](http://www.postgresql.org/)

    ## Node/Express Stack

    * Language: JavaScript
    * App Server: [Express](http://expressjs.com/)
    * Views: [Jade](http://jade-lang.com/)
    * CSS: [Stylus](http://learnboost.github.com/stylus/)
    * Tests: [mocha](http://visionmedia.github.com/mocha/), [sinon](http://sinonjs.org), and [karma](http://karma-runner.github.io/0.12/index.html)
    * Control Flow: [async](https://github.com/caolan/async)
    * Utility: [lodash](http://lodash.com/)
    * Logging: [bunyan](https://www.npmjs.org/package/bunyan)
    * Configuration: [config3](https://github.com/focusaurus/config3)

    ## Browser

    * [angular.js](http://angularjs.org/)
    * [backbone.js](http://documentcloud.github.com/backbone/), [lodash.js](https://github.com/lodash/lodash)
    * [vanilla.js](http://vanilla-js.com/) when convenient. Otherwise [jQuery](http://jquery.org/).
    * [browserify](http://browserify.org) for bundling JavaScript for the browser

    ## Utility

    * Web Server: [nginx](http://nginx.org/)
    * Monitoring: [monit](http://mmonit.com/monit/)
    * Email: [exim](http://www.exim.org/)
    * Startup: [Upstart](http://upstart.ubuntu.com/) scripts, and soon systemd
    * Deployment: [Ansible](http://ansibleworks.com)

    ## Infrastructure
    * Hosting: [Digital Ocean](https://www.digitalocean.com/) or [Amazon EC2](http://aws.amazon.com/)
    * DNS: [NameCheap](https://www.namecheap.com/)
