extends ../site/layout
block variables
  - title = "Speaking Presentations"
block body
  dl.talks
    dt
      a(href="/rust-at-recurse") Learning Rust at Recurse Center
    dd Presented at the 
      a(href="https://www.meetup.com/Rust-Boulder-Denver/") Denver Rust Meetup
      | February 28, 2018
    dt
      a(href="/twelve-factor-nodejs") Twelve-Factor Apps in node.js
    dd Presented at the 
      a(href="http://www.meetup.com/Node-js-Denver-Boulder/") Node.js Denver/Boulder/Ft. Collins Meetup Group
      | May 19, 2015
    dt
      a(href="/npm-gold") Nice Pretty Modules
    dd Presented at the 
      a(href="http://www.meetup.com/Node-js-Denver-Boulder/") Node.js Denver/Boulder/Ft. Collins Meetup Group
      | June 26, 2014
    dt
      a(href="/js-debug") JavaScript Debugging
    dd Presented at the 
      a(href="http://www.meetup.com/Boulder-JS/") BoulderJS Meetup Group
      | March 19, 2014
    dt
      a(href="/rapid-feedback") Rapid Feedback Learning
    dd Presented at the 
      a(href="http://www.meetup.com/DaVinci-Coders/") DaVinci Coders Lunch & Learn
      | January 30, 2013
    dt
      a(href="/web-data") How Data Powers the Web
    dd Presented as a skillshare class March 26, 2011
    
