upstream express-{{hostname}} {
  # fail_timeout=0 means we always retry an upstream even if it failed
  # to return a good HTTP response
  server localhost:{{express_port}} fail_timeout=0;
}

server {
  listen 80;
  server_name {{hostname}};
  charset utf-8;
  access_log /var/log/nginx.{{hostname}}.access.log;
  error_log /var/log/nginx.{{hostname}}.error.log;
  gzip_types text/plain text/css application/javascript application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript;

  location / {
    root {{{www_root}}};
    try_files $uri $uri.html $uri/index.html @app;
  }

  location @app {
    rewrite /app(.*) $1 break;
    error_page 404 /error404.html;
    error_page 502 503 504 /error500.html;
    proxy_set_header Host $host;
    proxy_redirect off;
    proxy_pass http://express-{{hostname}};
  }
}

# redirect www to bare
server {
  listen 80;
  server_name www.{{hostname}};
  rewrite ^(.*) http://{{hostname}}$1 permanent;
}
