description "start and stop the peterlyons.com express.js/node.js server"
author "Peter Lyons <pete@peterlyons.com>"

start on filesystem and started networking
respawn
console log
chdir {{app_root}}/current
setuid {{express_user}}
setgid {{express_user}}
env PATH=./node_modules/.bin:./node/bin:/usr/bin:/bin
env NODE_ENV=production
exec app/server.js
