#express.js/node.js app server for peterlyons.com
check host "plws-pro" with address 127.0.0.1
  start = "/sbin/start plws-express"
  stop = "/sbin/stop plws-express"
  if failed port {{express_port_pro}} protocol http then restart
  if 5 restarts within 5 cycles then timeout
check host "plws-pers" with address 127.0.0.1
  start = "/sbin/start plws-express"
  stop = "/sbin/stop plws-express"
  if failed port {{express_port_pers}} protocol http then restart
  if 5 restarts within 5 cycles then timeout
check file plws-express-log with path /var/log/upstart/plws-express.log
  if match "statusCode.:\s*5\d\d" then alert
