description "start and stop the peterlyons.com express.js/node.js server"
author "Peter Lyons <pete@peterlyons.com>"

start on filesystem and started networking
respawn
chdir {{app_root}}
setuid {{express_user}}
setgid {{express_user}}
env PATH=./node_modules/.bin:./node/bin
env NODE_ENV=production
exec app/server.coffee | /usr/bin/multilog s1024000 /var/log/{{hostname}} 2>&1
