.intro
  img
    display block
    margin auto
  p
    text-align center
    font-weight bold
    margin-top 1.5em
    margin-bottom 1em

  .highlight
    font-weight 400
    margin auto
    text-align center
