extends ../../core/layout
block variables
  - title = "Technology Stacks"
block body
  :marked
    # Technology Stacks

    I have used many libraries and programming languages beyond these.
    These are just some of my current favorites.

    ## Operating System and Database

    * Development OS: [Mac OS X](http://www.apple.com/macosx/)
    * Deployment OS: [Ubuntu](http://www.ubuntu.com/) or [Debian](http://www.debian.org)
    * Database: [PostgreSQL](http://www.postgresql.org/) and/or [MongoDB](http://www.mongodb.org/)

    ## Node Application Stack

    * Language: JavaScript
    * App Server: [Express](http://expressjs.com/)
    * Views: [pug](https://pugjs.org) or [mustache](https://www.npmjs.org/package/mustache)
    * CSS: [Stylus](http://learnboost.github.com/stylus/)
    * Tests: [tap](http://www.node-tap.org/), [mocha](http://visionmedia.github.com/mocha/), [sinon](http://sinonjs.org)
    * Control Flow: [async](https://github.com/caolan/async)
    * Utility: [lodash](http://lodash.com/)
    * Logging: [bole](https://www.npmjs.org/package/bole)
    * Configuration: [config3](https://github.com/focusaurus/config3)
    * Linting: [eslint](http://eslint.org/), [prettier](https://prettier.io/)

    ## Amazon Web Services
    
    * Lambda
    * EC2
    * ECS
    * IAM
    * API Gateway
    * DynamoDB
    * S3
    * CloudFront
    * IoT
    * SES
    * SNS
    * Terraform
    
    ## Browser

    * [vanilla.js](http://vanilla-js.com/) when convenient. Otherwise [jQuery](http://jquery.org/).
    * [browserify](http://browserify.org) for bundling JavaScript for the browser

    ## Devops

    * Local VM: [Vagrant](http://www.vagrantup.com)
    * Deployment: [Ansible](http://ansibleworks.com)
    * Containers: [Docker](https://docker.com)

    ## Utility

    * Web Server: [nginx](http://nginx.org/)
    * Monitoring: [monit](http://mmonit.com/monit/)
    * Email: [exim](http://www.exim.org/)
    * Process Supervision: [Upstart](http://upstart.ubuntu.com/) scripts and systemd

    ## Infrastructure
    * Hosting: [Digital Ocean](https://www.digitalocean.com/) or [Amazon EC2](http://aws.amazon.com/)
    * DNS: [NameCheap](https://www.namecheap.com/)
    * Bulk storage: [Amazon S3](http://aws.amazon.com/s3)
