@import "../color"
header
  margin-bottom 2rem
  a
    display block
    text-decoration none
    &:visited
      color $colorSiteHeader

  h1
    border-bottom 4px solid $colorSiteHeader
    padding-bottom 0.5em
    margin 0
