a(href='http://www.w3.org/', target="_blank")
  img(src='/images/html5.png', alt='HTML 5')
a(href='http://jigsaw.w3.org/css-validator/', target="_blank")
  img(style='border:0;width:88px;height:31px',
    src='/images/valid_css.png',
    alt='Valid CSS!')
a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/")
  img(alt="Creative Commons License", src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png")
p This work is licensed under a
  a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/")
    | &nbsp;Creative Commons Attribution-ShareAlike 3.0 Unported License.
