@import "../color"
@import "../position"

.navMenuButton
  topRight()
  margin-right 0.5em
  border none
  background-color $colorPrimaryBackground
  &:hover
    cursor pointer
nav.site
  margin-left 1rem
  margin-top 2rem
  h1
    margin-top 1rem
    margin-bottom 0.5rem
  a
    display block
    text-decoration none
    font-weight bold
    &.current:before
      content "\232a\00a0"
  .close
    display none
    border none
    background-color $colorPrimaryBackground
    cursor pointer
    topRight()
  section a
    margin-left 1.2rem
  &.open
    topRight()
    background-color $colorPrimaryBackground
    margin 0
    border-left b = 0.2em solid $colorCodeBackground
    border-bottom b
    padding 0 1em 1em
    .close
      display inline-block

.navigationHorizontal
  section
    float left
    margin-right 2rem
    a
      margin-left 0

  //http://stackoverflow.com/a/7817313/266795
  &:after
    clear both
    content ""
    display block
