nav.site
  button.close &times;
  section
    a(href="/") Home
    a(href="/contact") Contact
    a(href="/nodejs-training") Node Training
    a(href="/problog") Blog
    a(href="/career") Career
    a(href="/practices") Practices
    a(href="/stacks") Stacks
    a(href="/code-conventions") Code Conventions
    a(href="/projects") Projects
    a(href="/talks") Talks
    a(href="/leveling-up") Leveling Up
    a(href="http://peterlyons.org") My Personal Site
