nav
  section
    h1 Site
    a(href="/") Home
    a(href="/contact") Contact
  section
    h1 Technology
    a(href="/problog") Blog
    a(href="/career") Career
    a(href="/practices") Practices
    a(href="/stacks") Stacks
    a(href="/code_conventions") Code Conventions
    a(href="/projects") Projects
    a(href="/leveling_up") Leveling Up
  section
    h1 Music
    a(href="/bands") Bands
    a(href="/oberlin") Oberlin
    a(href="/favorites") Favorites
  section
    h1 Personal
    a(href="/persblog") Personal Blog
    a(href="/persblog/feed") Subscribe to my blog
    a(href="http://www.flickr.com/photos/88096431@N00/") Flickr Photos
    a(href="#{appURI}/photos") Photos (before Fall '11)
