@import "../site/color"

.postList
  line-height 3em
  td
    padding 0 0.5em
    white-space nowrap
    text-overflow ellipsis
  tr:nth-child(even)
    background-color $colorEvenRow
  .date
    text-align right
