extends ../site/layout
block variables
  - title = "Write a new blog post"
block body
  .createPost
    .notices
    section.preview
    hr
    label
      | title
      input(name="title")
    textarea.content(cols="80", rows="25")
    label
      | password to save
      input(type="password")
    button Save
block append scripts
  script(src="/blogs/createPost.js")
