extends ../site/layout
block variables
  - title = "Write a new blog post"
  - angular = true
block body
  .createPost(ng-app, ng-controller="CreatePost", ng-cloak, ng-init="draftJSON = localStorage.postDraft")
    .error(ng-if="error")
      strong BORKED! {{error}}
    .saved(ng-if="savedPost") New post saved at&nbsp;
      a(ng-href="/{{savedPost.uri}}") {{savedPost.title}}
    section.preview(ng-bind-html="contentHtml")
    hr
    label
      | title
      input(name="title", ng-model="title")
    textarea.content(cols="80", rows="25", ng-model="contentMarkdown")
    label
      | password to save
      input(type="password", ng-model="password")
    button(ng-click="save()", ng-disabled="!password") Save
block append scripts
  script window.CreatePost = require("app/browser/CreatePost");
