a.button#subscribe(href="/" + URI + "/feed") Subscribe
  img.icon(src='/images/feed.png', height="24", alt='Subscribe to my Atom feed', title='Subscribe to my Atom Feed')
table.postList
  each post in posts
    tr
      td.postTitle
        a(href="/" + post.uri())= post.title
      td.date= post.presented.date
