extends ../layout
block variables
  //- this is the document title not the blog post title
  - title = "Write a new blog post"
block body
  .create-post
    label title
      input(name="title" size="35" value="new-post-title-here")
    textarea.content(cols="80" rows="15")
    hr
    h2.title 
    section.preview
    label github token
      input(type="password" name="password" size="35")
    .saved
      | New Post Saved:&nbsp;
      a.link(href="#")
    .error
    button(disabled=true).save Save

block append scripts
  script require('app/blog/create-post-main')()
