extends deck
block head
  title Nice Pretty Modules
block slides
  section
    h2 Nice Pretty Modules
    h3 npm modules I use and recommend
  section
    h2 lodash
    ul
      li Inspired by <a href="http://documentcloud.github.io/underscore">underscore.js</a>, but better
      li Core data structure helper functions
      li functional programming, inheritence, polyfills
      li I use it in nearly every project
      li ECMAScript 5 Array prototype has .map, .forEach, .filter, which I use
  section
    pre
      code.
        ["Monday", "Tuesday", "Wednesday"].forEach(function(day) {
          //Don't need lodash for this. Native is OK.
        });

        var _ = require("lodash");
        var user = {
          name: "Bob",
          email: "bob@example.com",
          shoeSize: 11
        };
        var variant = _.pick(user, "name", "email");
        console.log(variant);
        //{ name: 'Bob', email: 'bob@example.com' }
  section
    h2 lodash functions I use frequently
    ul
      li _.pick
      li _.pluck
      li _.last
      li _.without
      li _.uniq
      li _.flatten
      li _.debounce, _.throttle
      li _.omit
  section
    h2 Testing
    ul
      li <em>mocha.js</em> best testing framework
      li <em>expectacle</em> least insane expactation library
      li <em>sinon.js</em> spies, mocks, stubs
      li <em>rewire</em> dependency injection
  section
    h2 Web Apps
    ul
      li <em>browserify</em> Bundle browser JS without reaching for the FaceAxe
        ul
          li <em>brfs</em> for loading static files as strings
          li <em>browserify-shim</em> for third party stuff (angularjs)
      li <em>browserify-middleware</em> almost-perfect dev/prod workflow
      li <em>cheerio</em> for server-side HTML parsing and manipulation
      li <em>supertest</em> for testing express.js apps end to end
      li <em>stylus</em> for CSS preprocessing (better than LESS, SASS, SCSS)
      li <em>bunyan</em> for logging
      li <em>passport.js</em> for authentication with <em>bcrypt</em> for password hashing
  section
    h2 async.js
    p Still my go-to flow control library. There are lots of good choices here, though.
    h2 moment.js
    p Painfully awesome library for Date parsing and manipulation
    pre
      code.
        moment().add(7, 'days').toDate()
        Thu Jul 03 2014 12:27:00 GMT-0600 (MDT)
  section
    h2 AVOID: Bad (but popular) modules
    ul
      li should.js
      li mongoose.js
      li requirejs: browserify FTW (see also webpack)
      li anything based on the Ruby on Rails asset pipeline
  section
    h2 Quagmires: Still no clear winners
    ul
      li Database layers ORM/ODM
      li SQL dialect managers, query libraries
      li expectation libraries (expectacle is closest)
      li JSON validation
  section
    h2 Misc tips about searching for modules
    ul
      li alternative/rewrites usually better
        ul
          li requirejs -> browserify
          li jasmine -> mocha
          li jsdom -> cheerio
          li q -> bluebird (probably...)
      li Get familiar with prolific, high-quality authors
      li actively maintained
      li sensible documentation
      li nothing bizarre
      li small, focused
      li See also substack's <a href="http://substack.net/finding_modules">Finding Modules</a> article
  section
    h2 Use caution for highly expensive switching costs
    p Try out in a small side project first
    ul
      li logging
      li assertions/expectations
      li control flow
      li any framework
      li DB access and abstractions
