doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title DaVinci Coders Lunch and Learn
    link(href="/favicon.ico", type="image/x-icon", rel="icon")
    link(href="/favicon.ico", type="image/x-icon", rel="shortcut icon")
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="/deck.js/core/deck.core.css")
    link(rel="stylesheet", href="/deck.js/extensions/menu/deck.menu.css")
    link(rel="stylesheet", href="/deck.js/extensions/menu/deck.hash.css")
    link(rel="stylesheet", href="/deck.js/themes/style/web-2.0.css")
    link(rel="stylesheet", href="/deck.js/themes/transition/vertical-slide.css")
  body
    section
      h2 Rapid Feedback Learning Tools
      h4 DaVinci Coders Lunch and Learn January 30, 2013

      p pete@peterlyons.com http://peterlyons.com

    section
      h2 Key Ideas
      ol
        li speed/ease
        li isolation

    section
      h2 Ruby Tools
      ul
        li irb
        li new blank rails app
        li rails console
        li TDD experimentation
        li
          a(href="http://koans.heroku.com") Ruby Koans Online
        li
          a(href="http://tryruby.org/") Try Ruby
        li
          a(href="http://www.codecademy.com/tracks/web") Codecademy Web
        li
          a(href="http://www.codecademy.com/tracks/ruby") Codecademy Ruby

    section
      h2 Exercise 1
      h3 Check a StackOverflow Answer in irb
      a(href="http://stackoverflow.com/questions/7837815/round-a-number-up-in-ruby") http://stackoverflow.com/questions/7837815/round-a-number-up-in-ruby
      pre
        code.
          irb
          &gt;&gt; 12.356.round 2
          =&gt; 12.36
          &gt;&gt;

    section
      h2 Exercise 2
      h3 Blank rails app
      pre
        code.
          rbenv shell 1.9.3-p327
          rails new rails_lab_1
          cd rails_lab_1
          rails generate controller Lab lab1 lab2
          rake db:migrate
          s. #edit app/views/lab/lab1.html.erb
          rails server

    section
      h2 Exercise 3
      h3 Ruby Koans
      a(href="http://koans.heroku.com") Ruby Koans Online
      ul
        li
          a(href="http://koans.heroku.com/about_hashes") About Hashes
        li
          a(href="http://koans.heroku.com/about_modules") About Modules

    section
      h2 JSFiddle
      ul
        li
          a(href="http://jsfiddle.net") JSFiddle

    section
      h2 WebKit Developer Console
      ul
        li tweak CSS on the fly
        li experiment with javascript & breakpoints
        li see HTTP request/response content

    section
      h2 Intro to stackoverflow.com
      ul
        li research before asking
        li include just the right amount of code and description

    section
      h2 References
      ul
        li
          a(href="http://koans.heroku.com") Ruby Koans Online
        li
          a(href="http://tryruby.org/") Try Ruby
        li
          a(href="http://www.codecademy.com/tracks/web") Codecademy Web
        li
          a(href="http://www.codecademy.com/tracks/ruby") Codecademy Ruby
        li
          a(href="http://rubymonk.com") Ruby Monk
        li
          a(href="http://stackoverflow.com") Stack Overflow
        li
          a(href="http://vimeo.com/36579366") Bret Victor - Inventing on Principle
    script(src="/deck.js/modernizr.custom.js")
    script(src="/js/jquery.js")
    script(src="/deck.js/core/deck.core.js")
    script(src="/deck.js/extensions/menu/deck.menu.js")
    script(src="/deck.js/extensions/hash/deck.hash.js")
    :coffeescript
      $ ->
        $.deck(".slide")
