extends ../../site/layout
block variables
  - title = gallery.displayName + " Photo Gallery"
block body
  != photoGalleryHtml
block prepend scripts
  != sharify.script()
  //- script require("app/browser/viewGallery").init();
