light1 = #F4F1DD //Background color
light2 = #FCFAF1 //Light text
light3 = #FEFDFA //Almost white code block background
light4 = #575342 //footer border
light5 = #a29c85 //footer text

dark1 = #b55e1a //orange accent
dark2 = #367c84 //green/grey accent
dark3 = #434137 //main dark headers, content
dark5 = #2C2A20 //Footer background
dark6 = #201E17 //footer background 2
