@import "../../../node_modules/nib/lib/nib/reset.styl"
global-reset()
@import "carly.color"

////////// mixins //////////
rounded(radius=2px)
  border-radius radius
  -webkit-border-radius radius
  -moz-border-radius radius

//Provide our wrapper mixin for responsive layout
//https://gist.github.com/1549029
wrapper(site-width=60%)
  site-margin = ((100% - site-width) / 2)
  margin-left: site-margin
  margin-right: site-margin
  transition: margin 0.3s ease-out

titlefont(size=1)
  font-family "AWConquerorInline-Regular", sans-serif
  fontsize size

datefont(size=1)
  font-family "Archer-Medium-Pro", serif
  fontsize size

/*
"
I am not dealing with font size insanity. Here is the deal.
The main body/content font size is zero
Font sizes increase/decrease relative to that with simple sequential integers:
-2, -1, 0, 1, 2, 3, 4, 5
Each one is "a bit" larger than the previous as defined here
I generally only need h1-h3,
so h3 should be size 1 (just a bit larger than normal text),
h2 should be size 2,
and h1 should be size 3
Use REM units for fanciness but also include pixels for unsupported browsers
http://snook.ca/archives/html_and_css/font-size-with-rem
"
*/
fontsize(size)
  pixels =  8 if size < -1
  pixels = 10 if size == -1
  pixels = 12 if size ==  0 //Base size 0 for main body content
  pixels = 16 if size ==  1
  pixels = 20 if size ==  2
  pixels = 24 if size ==  3
  pixels = 40 if size > 3
  font-size unit(pixels, px)
  font-size unit((pixels/10), rem)

////////// Variables //////////
pad1 = 2px
pad2 = 5px
pad3 = 8px
pad4 = 30px
codefont = Inconsolata, "courier new", monospace, serif

////////// Fonts //////////
@font-face
  font-family "AWConquerorInline-Regular"
  src url("/fonts/AWConquerorInline-Regular.eot?#iefix") format('embedded-opentype'), \
      url("/fonts/AWConquerorInline-Regular.otf") format("opentype")

@font-face
  font-family "Archer-Light-Pro"
  src url("/fonts/Archer-Light-Pro.eot?#iefix") format("embedded-opentype"), \
      url("/fonts/Archer-Light-Pro.otf") format("opentype")

@font-face
  font-family "Archer-Medium-Pro"
  src url("/fonts/Archer-Medium-Pro.otf") format("opentype")

////////// alphabetical site-wide rules for default HTML elements //////////
a
  color dark2
  font-weight bold
  text-decoration none
//No idea why but this does not work if nested below "a"
a.button, button
  display inline-block
  font-weight bold
  margin pad2 0

article
  h1
    fontsize 2
//For inline code snippets (wrapping OK)
code, pre
  background-color light3
  color dark3
  font-family codefont

code
  padding 0 pad1

h1, h2, h3
  color dark3
  font-weight bold
  line-height 1.5em
  &:not(:first-of-type)
    padding-top pad3

h1
  fontsize 3

h2
  fontsize 2

h3
  fontsize 1

hr
  background-color dark3
  border none
  clear both
  height .3em
  margin-top pad1

//For multiline code blocks (formatted, no wrapping)
pre
  border 1px solid dark3
  margin pad2 0
  overflow auto
  padding pad2

dd
  margin-left pad2

dt
  font-weight bold

li
  line-height 2em
  list-style-image url("/images/bullet_gt_1.png")
  margin-left pad4
  li
    list-style-image url("/images/bullet_gt_2.png")

p
  margin-top 2em

////////// Layout //////////
body
  background-image url("/images/background.png")
  background-color light1
  color dark3
  font-family Verdana, Arial, Helvetica, sans-serif
  letter-spacing 0.1em
  line-height 1.6em
  padding 0
  fontsize 0

footer
  background-color dark5
  border-top dark1 solid 2px
  margin-top pad4
  padding-bottom pad4
  a
    color light3
    padding 0 pad1
    rounded()
  h1
    color light5
    fontsize 1
  li
    list-style-image url("/images/bullet_gt_1_pad.png")
  nav
    display inline-block
    padding pad1 pad4 0 0
    vertical-align top
    a
      display block
      &:before
        content url("/images/bullet_gt_1_pad.png")
  nav.connect
    a
      padding-bottom pad3
      &:before
        content none
      img
        padding-right pad3
footer.license
  background-color dark6
  border-top light4 solid 1px
  color light5
  fontsize -1
  margin 0
  padding pad2 0
  &:last-of-type
    clear both
  a
    fontsize -1
    padding 0
    white-space nowrap
  img
    padding-right pad4
    vertical-align middle

header
  border-bottom 3px solid dark3
  padding-bottom pad3
  margin-bottom pad3
  margin-top pad3
  h1
    titlefont 4
    line-height 100%
    text-transform uppercase
  img
    float left
    padding-right pad2
  nav
    display block
    clear both
    margin-top pad2
    padding-top pad3
    white-space nowrap
  a
    color dark3
    font-weight normal

header nav a, a.button, #reverse
  background-color dark3
  color light2
  margin pad2
  opacity 0.75
  padding pad2
  rounded()

a.current
  background-color dark1
  opacity 1

//This should reset the default font size to 10 pixels, which makes for clean
//rem units
html
  font-size 62.5%

strong
  font-weight bold

img.icon
  padding-right pad1
  vertical-align middle

.content
  wrapper()
  //margin 0 auto
  //padding 0 pad2
  //max-width 800px
  //min-width 600px

.respond
  position fixed

////////// Home page //////////
.highlight
  color dark1
#intro
  p.intro
    fontsize 3
    font-family Archer-Light-Pro, serif
    line-height 1.1em
    margin pad4 0
  img
    padding pad1 0
    float right

////////// Practices //////////
#practices
  li
    margin 0
    li
     font-weight normal

////////// Chops //////////
#chops
  margin-top pad4
  h2
    titlefont 4
    border-bottom 2px solid dark3
  .highlight
    font-family Inconsolata
  h3
    margin-top pad3
  .links
    margin pad4 0
    a
      margin-right pad4

////////// Writing //////////
#writing
  border-top 1px solid dark2
  margin-top pad3
  padding-top pad3

////////// Career //////////
p.reverse
  margin pad4 0

#reverse
    margin 0

.divider
  margin pad4 0

////////// Blog //////////
article
  margin pad4 0
  img, iframe
    display block
    margin pad4 0
  .date
    datefont 1
    float right

nav.post li
  list-style-image url("/images/bullet_gt_1.png")

.date
  datefont 0
  float right

.hidden
  display none

#disqus_thread
  li
    list-style-image none

#subscribe
  margin pad3 0
  img
    padding-left pad2

////////// Photos //////////
figcaption
  fontsize 2
  margin pad2 0

img.thumbnail
  margin pad2 pad1
  vertical-align bottom

nav.photos
  a
    display block

#nextPrev
  a
    padding-right pad2

#photo
  display block

////////// Oberlin //////////
table.program
  td
    &:not(:first-of-type)
      padding-left pad2
td.performers
  text-align center
  padding-bottom pad2


////////// create blog post page //////////
.create_blog
  > hr
    margin pad4 0
  > label
    display block
    fontsize 2
    > input
      width 30em
  > textarea
    margin 0
  > button
    display block

////////// Responsive layout //////////
@media handheld and (max-width: 1156px), screen and (max-device-width: 1156px), screen and (max-width: 1156px)
  .respond
    &:after
      content "1156"
  .content
    wrapper(80%)
@media handheld and (max-width: 960px), screen and (max-device-width: 960px), screen and (max-width: 960px)
  .respond
    &:after
      content "960"
  .content
    wrapper(95%)
@media handheld and (max-width: 720px), screen and (max-device-width: 720px), screen and (max-width: 720px)
  .respond
    &:after
      content "720"
  img.hero
    display none
