footer
  .content
    nav
      h1 Technology
      a(href="/") Home
      a(href="/problog") Blog
      a(href="/leveling_up") Leveling Up
      a(href="/practices") Practices
      a(href="/code_conventions") Code Conventions
      a(href="/stacks") Stacks
      a(href="/career") Career
    nav
      h1 Projects
      a(href="/linkzie") Linkzie
      a(href="http://othenticate.com") Othenticate
      a(href="/smartears") SmartEars
      a(href="/bigclock") BigClock
    nav.connect
      h1 Connect With Me
      a(href="mailto:pete@peterlyons.com")
        img.icon(src='/images/email_icon.png', height="24", alt="Email me", title="Email me")
        | pete@peterlyons.com
      a(href='/problog/feed')
        img.icon(src='/images/feed.png', height="24", alt='Subscribe to my Atom feed', title='Subscribe to my Atom Feed')
        | Subscribe
      a(href='http://www.linkedin.com/in/peterlyons1')
        img.icon(src='/images/linkedin_icon.png', alt='LinkedIn', title='LinkedIn')
        | LinkedIn
      a(href='http://stackoverflow.com/users/266795/peter-lyons')
        img.icon(src='/images/stackoverflow_icon.png', alt='stackoverflow', title='stackoverflow')
        | stackoverflow
      a(href='https://github.com/focusaurus')
        img.icon(src='/images/github_icon.png', alt='github', title='github')
        | github
      a(href='https://twitter.com/#!/focusaurus')
        img.icon(src='/images/twitter_icon.png', alt='twitter', title='twitter')
        | twitter
footer.license
  .content
    nav
      h1 Music
      a(href="/bands") Bands
      a(href="/oberlin") Oberlin
      a(href="/favorites") Favorites
    nav
      h1 Personal
      a(href="/persblog") Read my blog
      a(href="/persblog/feed") Subscribe to my blog
      a(href="https://www.facebook.com/focusaurus") facebook
      a(href="http://www.flickr.com/photos/88096431@N00/") Flickr Photos
      a(href=config.appURI + "/photos") Photos (before Fall '11)
    div
    a(href='http://www.w3.org/', target="_blank")
      img(src='/images/html5.png', alt='HTML 5')
    a(href='http://jigsaw.w3.org/css-validator/', target="_blank")
      img(style='border:0;width:88px;height:31px',
        src='/images/valid_css.png',
        alt='Valid CSS!')
    a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/")
      img(alt="Creative Commons License", src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png")
    p This work is licensed under a
      a(rel="license", href="http://creativecommons.org/licenses/by-sa/3.0/")
        | &nbsp;Creative Commons Attribution-ShareAlike 3.0 Unported License.
