nav.site
  button.close &times;
  section
    h1 Personal
    a(href="/persblog") Personal Blog
    a(href="https://www.flickr.com/photos/88096431@N00/sets/") Flickr Photos
    a(href="#{appURI}/photos") Photos (before Fall '11)
  section
    h1 Music
    a(href="/bands") Bands
    a(href="/oberlin") Oberlin
    a(href="/favorites") Favorites
