extends ../site/layout
block variables
  - title = 'Music from Oberlin'
block body
  :marked
    I had a tremendous opportunity to make a lot of interesting and
    varied music with some incredibly talented people while I was at the
    <a href="http://www.oberlin.edu/con/" target="_blank">Oberlin
    Conservatory of Music</a>.  Below are links to some mp3 files that you
    can download and enjoy.

    <h1>Senior Recital</h1>
    <table class="program">
    <tr>
    <td><b>Sonata for Alto Saxophone and Piano</b></td>
    <td>Ernst von Knorr (1934)</td>
    </tr>
    <tr>
    <td><a href="/snd/von_knorr_01.mp3">Fantasy</a></td>
    <td>(3:05)</td>
    </tr>
    <tr>
    <td><a href="/snd/von_knorr_02.mp3">Allegro risoluto</a></td>
    <td>(3:01)</td>
    </tr>
    <tr>
    <td><a href="/snd/von_knorr_03.mp3">Allegretto</a></td>
    <td>(4:35)</td>
    </tr>
    <tr>
    <td><a href="/snd/von_knorr_04.mp3">Signal</a></td>
    <td>(3:09)</td>
    </tr>
    <tr>
    <td class="performers">Mark Barden, piano</td><td>&nbsp;</td>
    </tr>
    <tr>
    <td><a href="/snd/chambers_01.mp3">Deep Flowers</a> (6:24)</td>
    <td><a href="http://www.evanchambers.net/index.cfm">Evan Chambers</a> (1995)</td>
    </tr>
    <tr>
    <td><b>Sonata for Alto Saxophone and Cello</b></td>
    <td>Edison Denisov (1994)</td>
    </tr>
    <tr>
    <td><a href="/snd/denisov_01.mp3">Allegro</a></td>
    <td>(3:13)</td>
    </tr>
    <tr>
    <td><a href="/snd/denisov_02.mp3">Tranquillo</a></td>
    <td>(3:46)</td>
    </tr>
    <tr>
    <td><a href="/snd/denisov_03.mp3">Moderato</a></td>
    <td>(5:41)</td>
    </tr>
    <tr>
    <td class="performers">Adam Friedberg, cello</td><td>&nbsp;</td>
    </tr>
    <tr>
    <td><a href="/snd/altieri_01.mp3">Wind, Wood, Wind, Volt, Wind</a> (6:12)</td>
    <td>Jim Altieri (2001)</td>
    </tr>
    <tr>
    <td class="performers">Jim Altieri, computer</td><td>&nbsp;</td>
    </tr>
    <tr>
    <td><b>Combo Platter</b></td>
    <td>Robert Aldridge (1988)</td>
    </tr>
    <tr>
    <td><a href="/snd/aldridge_01.mp3">Oneness, Allness, Togetherness, Hold the Mayo</a></td>
    <td>(2:43)</td>
    </tr>
    <tr>
    <td><a href="/snd/aldridge_02.mp3">For Me There's No More Love, For You There's No More Pumkin Pie</a></td>
    <td>(4:26)</td>
    </tr>
    <tr>
    <td><a href="/snd/aldridge_03.mp3">Wine, Women, and Geopolitical Realities</a></td>
    <td>(4:15)</td>
    </tr>
    <tr>
    <td class="performers">Jonathan Solars, violin<br />John Tarcza, marimba</td><td>&nbsp;</td>
    </tr>
    </table>
    <h1>Junior Recital</h1>
    <table class="program">

    <tr><td><b>
    Fantasia
    </b></td><td>
    Hector Villa-Lobos
    </td></tr><tr><td colspan="2">

    <a href="/snd/villa-lobos_01.mp3">Anime</a>

    </td></tr><tr><td colspan="2">

    <a href="/snd/villa-lobos_02.mp3">Lent</a>

    </td></tr><tr><td colspan="2">

    <a href="/snd/villa-lobos_03.mp3">Tres Anime</a>
    </td></tr><tr><td class="performers" colspan="2">
    Natasha Ullman, piano
    </td></tr>

    <tr><td><b>
    An American Portrait
    </b></td><td>
    Matthew S. Quayle
    </td></tr><tr><td colspan="2">
    <a href="/snd/quayle_01.mp3">Inaugural/Kick-Off</a>
    </td></tr><tr><td colspan="2">
    <a href="/snd/quayle_02.mp3">PeaceKeeper</a>
    </td></tr><tr><td colspan="2">
    <a href="/snd/villa-lobos_03.mp3">Canon in D</a>
    </td></tr><tr><td colspan="2">
    <a href="/snd/quayle_04.mp3">Monument</a>
    </td></tr><tr><td colspan="2">
    <a href="/snd/quayle_04.mp3">Sweepstakes</a>
    </td></tr><tr><td colspan="2">
    <a href="/snd/quayle_04.mp3">Homecoming/State of the Union</a>
    </td></tr><tr><td class="performers" colspan="2">
    Edward Choi, clarinet<br />Reagan Fletcher, percussion
    </td></tr>
    <tr><td><b>
    Sonata Op. 29
    </b></td><td>
    Robert Muczynski
    </td></tr><tr><td colspan="2">
    <a href="/snd/muczynski_01.mp3">Andante maestoso</a>
    </td></tr><tr><td colspan="2">
    <a href="/snd/muczynski_02.mp3">Allegro energico</a>
    </td></tr>
    <tr><td class="performers" colspan="2">
    Sun-Jung Lee, piano
    </td></tr>
    </table>
    <h1>Oberlin Jazz Ensemble</h1>
    <table class="program">
    <tr><td><a href="/snd/anthropology.mp3">
    Anthropology
    </a></td><td>
    Charlie Parker
    </td></tr>
    <tr><td><a href="/snd/koko.mp3">
    Ko Ko
    </a></td><td>
    Duke Ellington
    </td></tr>
    <tr><td><a href="/snd/do_nothing_till_you_hear_from_me.mp3">
    Do Nothing Till You Hear From Me
    </a></td><td>
    Duke Ellington
    </td></tr>
    <tr><td><a href="/snd/rockin_in_rhythm.mp3">
    Rockin' in Rhythm
    </a></td><td>
    Duke Ellington
    </td></tr>
    <tr><td><a href="/snd/cottontail.mp3">
    Cottontail
    </a></td><td>
    Duke Ellington
    </td></tr>
    <tr><td><a href="/snd/superbone_meets_the_badman.mp3">
    Superbone Meets The Badman
    </a></td><td>
    Slide Hampton
    </td></tr>
    </table>
