img.band(src='/images/afronauts.jpg', alt='Afronauts')

:markdown
  [Afronauts](http://afronautsband.com/)
   ([on Facebook](https://www.facebook.com/afronauts)) is my large afrobeat
   ensemble.

img.band(src='/images/turtle_dove.jpg', alt='Turtle Dove Blues Band')

:markdown
  [Turtle Dove](http://turtledoverock.com) ([on facebook](https://www.facebook.com/pages/Turtle-Dove-Blues-Band/123713941039995)) is a blues/rock project with both great original
  songs and fun cover tunes, including a few Morphine covers.

img.band(src='/images/eclectric_cover.jpg', alt='Sunny Daze Eclectric')

:markdown
  [Sunny Daze](http://www.sunnydaze.ws) is the Acid Jazz/Funk/Latin band
  I played in from 2001-2007. The band continues to perform around the
  Jersey shore scene. During my tenure, we recorded three CDs. You can
  [check out the Sunny Daze recordings on CD Baby
  ](http://www.cdbaby.com/Artist/SunnyDaze).

img.band(src='/images/confunktion_junction_cover.jpg',
alt='Confunktion Junction Album Cover')

:markdown
  I also used to perform with a great soul/funk band called
  [Confunktion Junction](http://cdbaby.com/cd/confunktion).
  I joined in October 2002 and the band fizzled out in early 2007.
  We recorded an EP of our original material.
  [Check out the Confunktion Junction EP on CD Baby
  ](http://www.cdbaby.com/Artist/ConfunktionJunction).
