extends layout
block variables
  - title = "Get in touch"
block body
  a(href="mailto:pete@peterlyons.com")
    img.icon(src='/images/email_icon.png', height="24", alt="Email me", title="Email me")
    | pete@peterlyons.com
  a(href='/problog/feed')
    img.icon(src='/images/feed.png', height="24", alt='Subscribe to my Atom feed', title='Subscribe to my Atom Feed')
    | Subscribe
  a(href='http://stackoverflow.com/users/266795/peter-lyons')
    img.icon(src='/images/stackoverflow_icon.png', alt='stackoverflow', title='stackoverflow')
    | stackoverflow
  a(href='https://github.com/focusaurus')
    img.icon(src='/images/github_icon.png', alt='github', title='github')
    | github
  a(href='http://google.com/+PeterLyons1')
    img.icon(src='/images/google_plus.png', alt='google+', title='google+')
    | google+
  a(href='https://twitter.com/#!/focusaurus')
    img.icon(src='/images/twitter_icon.png', alt='twitter', title='twitter')
    | twitter
  a(href='http://www.linkedin.com/in/peterlyons1')
    img.icon(src='/images/linkedin_icon.png', alt='LinkedIn', title='LinkedIn')
    | LinkedIn
  a(href="https://www.facebook.com/focusaurus") facebook
