extends layout
block title
  title Oops. Site is down for a moment.
block body
  h1 Sorry. This web site has laid down for a quick nap.
  p Things should be back up in a little while.
  // Error Code: 503 Internal Server Error
