extends layout
block body
  h1 4
  h1 0
  h1 4
  :markdown
    This is my 404 error page.
    It's not very funny. If you feel like looking at a funny 404 page, try
    [Homestar Runner's](http://www.homestarrunner.com/undefined) or [one of these](http://blogof.francescomugnai.com/2008/08/the-100-most-funny-and-unusual-404-error-pages/)
  // Error Code: 404 File Not Found
