extends layout
block title
  !=title("TechStars, pick me!")
block body
  :markdown
    **Hey, TechStars!** My name is Pete, I am a huge fan, and I want to be
    a HackStar this summer in Boulder. I've got the start-up bug and want to
    sling some code for this summer's companies.
    How bad do I have the start-up bug?

    Well, I recently quit my job as a software engineer at HP to free myself up
    for start-up action, and I'd like to bring a company of my own through the
    TechStars program someday soon. In the meantime, I'd like to become a HackStar
    and help start-ups hit it out of the park TechStars style.

    **What is Pete bringing to the program?**

    * 10 years experience doing enterprise back-ends and web development
    * A commitment to code quality, agile development, and test driven development
    * Full-stack knowledge including sophisticated back end systems, database, middleware, and front end development
    * Experience bringing functionality from conception to production including requirements gathering, customer interviews, prototyping, development, production deployment, and maintenance
    * Passion about technology.  Check out <a href="/problog">my technology blog</a> for thoughtful and technical posts like <a href="/problog/2010/09/agile-bugs">this one on handling bugs</a> or <a href="/problog/2010/07/install-ubuntu-lan">this one on installing Ubuntu over the network</a>.
    * Ability to rock demos and answer technical questions. BDNT, bring it on.

    You can read all about <a href="/career">my career here</a> or check
    out the <a target="_blank"
    href="https://linkzie.com">bookmarking web application</a>
    I built with Ruby on Rails and jQuery during nights and weekends
    while working full time at HP.
