extends layout
block variables
  - title = "Linkzie: A Simple Bookmark Manager"
block body
  :markdown
    <a href="https://linkzie.com/"><img src="/images/linkzie_logo.png"
    alt="Linkzie" /></a>

    I built a web application for managing lots of bookmarks. It's up over at
    <a target="_blank" href="https://linkzie.com/">linkzie.com</a>.
    The original idea
    came from a little python script I built way back in 2004 that would generate
    a page similar to linkzie, albeit a very crude version initially. All the data
    was manually edited into the script by hand and then the script could
    regenerate a new HTML page. Linkzie has now been made into a modern multi-user
    web application with easy drag-n-drop organization and a nice single page
    application AJAX user experience. There's more information on the Linkzie
    site, so please go check it out.
