extends layout
block variables
  - title = "Software Projects"
block body
  h1 Projects
  a(href="/linkzie") Linkzie
  a(href="/flickr-date-fixer") Flickr Date Fixer
  a(href="http://othenticate.com") Othenticate
  a(href="/smartears") SmartEars
  a(href="/bigclock") BigClock
