:markdown
  Check out my ear training program (Summer 2001).  This program
  will help you quickly learn to recognize and identify common musical
  structures including intervals, scales/modes, and chords.

  <img src="./images/smartears_screen1.jpg" alt="SmartEars Advanced Chords Screen Shot"/>
  <img src="./images/smartears_settings.jpg" alt="SmartEars Settings Screen" />

  <a href="/dist/smartears.jnlp">Start SmartEars!</a>

  My java friends who don't want to mess around with Java Web Start can
  download <a href="/dist/smartears.jar">smartears.jar</a> and launch the
  application by typing:

  <code>java -jar SmartEars.jar</code>

  Using SmartEars should be (I hope!) largely self-explanatory and easy.
  Two quick tips:
  * To turn off certain answers you are not intrested in
      (eg. unisons and octaves) right-click on their button (Command-click on OS X)
  * To hear sounds played simultaneously (as a chord) instead of arpeggiated,
      click into the Settings Tab and set the Note Delay to 0

include webstart.html
