extends layout
block title
  !=title("Technology Stacks")
block body
  :markdown
    #Technology Stacks

    ## Operating System and Database

    * Development OS: [Mac OS X](http://www.apple.com/macosx/)
    * Deployment OS: [Ubuntu](http://www.ubuntu.com/)
    * Database: [MongoDB](http://www.mongodb.org/) and/or [PostgreSQL](http://www.postgresql.org/)

    ## Node/Express Stack

    * Language: [CoffeeScript](http://jashkenas.github.com/coffee-script/)
    * App Server: [Express](http://expressjs.com/)
    * Views: [Jade](https://github.com/visionmedia/jade)
    * CSS: [Stylus](http://learnboost.github.com/stylus/)
    * Tests: [mocha](http://visionmedia.github.com/mocha/)
    * Deployment: [Fabric](http://fabfile.org), Home-grown CoffeeScript/SSH awesomeness or [Chef](http://www.opscode.com/chef/)
    * Control Flow: [async](https://github.com/caolan/async)

    ## Ruby on Rails Stack

    * Views: [Slim](http://slim-lang.com/)
    * CSS: [SASS](http://sass-lang.com/)
    * Deployment: Probably [Vlad the Deployer](http://rubyhitsquad.com/Vlad_the_Deployer.html), [Chef](http://www.opscode.com/chef/), or [Capistrano](https://github.com/capistrano/capistrano/wiki) (yuck)

    ## Browser

    * [jQuery](http://jquery.org/)
    * [backbone.js](http://documentcloud.github.com/backbone/), [underscore.js](http://documentcloud.github.com/underscore/)

    ## Utility

    * Web Server: [nginx](http://nginx.org/)
    * Monitoring: [monit](http://mmonit.com/monit/)
    * Email: [exim](http://www.exim.org/)
    * Startup: [Upstart](http://upstart.ubuntu.com/) scripts
