@require "adaptive"
@require "position"

body > nav
  position fixed
  display none
  +above("l")
    display block
  &.open
    display block
    topRight()
    z-index 10
    background-color $colorPrimaryBackground
    margin 0
    border-left 1px solid $colorCodeBackground

.navMenuButton
  display inline
  +above("l")
    display none

.content
  margin 1em
  +above("m")
    margin 1em auto
    width 30em
  +above("l")
    // This is carefully calculated to avoid overlap with side nav menu
    width 23em
  +above("xl")
    width 30em

footer
  margin-top 4em
  p
    margin-bottom 0

footer > nav
  display block
  +above("l")
    display none
